# Public API URL (used in browser)
PUBLIC_API_URL=https://cloudnive-api.nivekaa.com
PUBLIC_IMAGE_URL=https://cloudnive-blog-content-272567733216.s3.us-east-1.amazonaws.com

# For local development, uncomment and use local API Gateway:
# PUBLIC_API_URL=http://localhost:3000

PUBLIC_CLERK_PUBLISHABLE_KEY=***
CLERK_SECRET_KEY=***
