---
import KindeAuthProvider from '../components/KindeAuthProvider.jsx';
---
<html>
<head><title>Déconnexion...</title></head>
<body>
<KindeAuthProvider client:only="react"></KindeAuthProvider>
</body>
</html>