---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import KindeAuthProvider from "../components/KindeAuthProvider";

interface Props {
    title: string;
    description?: string;
    image?: string;
    type?: "website" | "article";
}

const {
    title,
    description = "Bienvenue sur mon blog technique ! Découvrez des articles sur le Cloud, le DevOps et le développement web.",
    image,
    type,
} = Astro.props;
---

<!doctype html>
<html lang="fr">
    <head>
        <BaseHead
            title={title}
            description={description}
            image={image}
            type={type}
        />
    </head>
    <body
        class="bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100 min-h-screen flex flex-col transition-colors duration-200"
    >
        <KindeAuthProvider client:only="react">
            <Header />
            <main class="flex-grow container mx-auto px-4 py-8">
                <slot />
            </main>
            <Footer />
        </KindeAuthProvider>
    </body>
</html>
